/****************************************************
  * Section Contacts
****************************************************/

.contacts{
  width: 100%;
  height: 152px;
  background-color: var(--black);
}

.contacts>.container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__welcome {
  width: 760px;
  font-family: 'DINOT-regular';
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  color: var(--white);
}

.contacts__welcome>span{
  font-family: 'DINOT-bold';
  font-size: 20px;
}