/****************************************************
  * Section Hero
****************************************************/

.hero {
  min-width: 100%;
  height: 390px;
  position: relative;
}

.hero__banner {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.hero__text {
  position: absolute;
  left: 4.5%;
  top: 20%;
  width: 47.6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}

.hero__text--code {
  height: 43px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.btn--copy-code {
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12.5px;
  font-family: "DINOT-medium";
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 6px;
  transition: color 0.2s linear;
  color: var(--white);
  background-color: var(--black);
}

.btn--copy-code:hover {
  color: var(--green);
}

.btn--hero{
  background-color: var(--orange);
}

/* Hero Typography */
.exclusively-for-your {
  width: 538px;
  font-family: "DINOT-regular";
  font-size: 40px;
}

.off-orders-above {
  width: 609px;
  font-family: "DINOT-black";
  font-size: 44.4px;
}

.free-shipping {
  width: 236px;
  font-family: "DINOT-regular";
  font-size: 29.6px;
  line-height: 1.45;
  padding-bottom: 14px;
}

.apply-code-FALL50-at {
  width: 459px;
  font-family: "DINOT-regular";
  font-size: 27.7px;
}

.apply-code-FALL50-at .fall50 {
  font-family: "DINOT-black";
  font-size: 27.7px;
}

.apply-code-FALL50-at .checkout {
  font-size: 27.7px;
}